
.load-more-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.search-container{
    width: 100%;
    background-color: azure;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.product{
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px rgb(141, 139, 139);
    
    
}
.product img{
    width: 100%;
}